* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
}

header {
  background-color: gray;
  height: 200px;
  width: 100%;
}
.box {
  display: flex;
  justify-content: space-between;
}
.box1 {
  background-color: antiquewhite;
  height: 200px;
  width: 33.33%;
}
.box1a {
  background-color: brown;
  height: 100px;
  width: 100%;
}
.box1b {
  background-color: rgb(18, 18, 206);
  height: 100px;
  width: 100%;
}
.box2 {
  background-color: rgb(240, 32, 39);
  height: 200px;
  width: 33.33%;
}
.box2a {
  background-color: rgb(26, 234, 147);
  height: 100px;
  width: 100%;
}
.box2b {
  background-color: rgb(216, 100, 23);
  height: 100px;
  width: 100%;
}
section {
  display: flex;
  background-color: rgb(224, 18, 239);
  height: 600px;
  width: 100%;
}
.box3 {
  background-color: rgb(4, 206, 251);
  height: 600px;
  width: 50%;
}
.box4 {
  background-color: rgb(122, 31, 92);
  height: 600px;
  width: 50%;
}
footer {
  width: 100%;
  height: 200px;
  background-color: blueviolet;
}
